* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --white-color2: #eee;
  --gray-color: #d9e0eb;
  --box-shadow-color: rgba(38, 51, 77, 0.03);
  --gray-color-2: #edeff2;
  --sky-color: #cbd9f0;
  --blue-color: #83f;
  --box-shadow-color-2: rgba(136, 51, 255, 0.15);
}

body {
  background-color: var(--gray-color-2);
  font-family: Roboto;
}

/* ================================================================ */

.button-style {
  background-color: var(--white-color);
  border-radius: 100px;
  box-shadow: 0px 2px 5px 0px var(--box-shadow-color);
}

/* Nav */
nav {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: var(--white-color2);
  border-bottom: 2px solid var(--gray-color);
}

/* Constructor */
.constructor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.side-bar-button,
.side-button-top {
  width: 30px;
  height: 30px;
}

.side-bar-top {
  display: none;
}

.menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}

/* Menu-list-1 */
.menu-list-1 {
  width: 400px;
}

.menu-nav-button {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* Search */
.search {
  width: 250px;
  height: 30px;
  border-radius: 30px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 2px 5px 0px var(--box-shadow-color);
}

/* Menu-list-2 */
.menu-list-2 {
  width: 250px;
}

.nav-icon {
  width: 20px;
  height: 20px;
}

.nav-button-2 {
  width: 30px;
  height: 30px;
}

.menu-list-2-mobile,
.menu-list-2-icon {
  display: none;
}

/* ================================================================ */
.main {
  display: flex;
  width: 100%;
}

/* Side-bar-left */
.side-bar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  border-right: 2px solid var(--gray-color);
  overflow: auto;
}

.menu {
  width: 30px;
  height: 30px;
}

.div-sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-top {
  height: 250px;
}

.menu-bottom {
  height: 200px;
}

/* ================================================================ */

/* Center-container */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  gap: 20px;
}

.main-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.top-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.icon-top {
  width: 20px;
  height: 20px;
}

.swip-button {
  order: 2;
  display: flex;
}

.button-add {
  order: 3;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  box-shadow: 0px 10px 30px 0px var(--box-shadow-color-2);
}

.top-indicator-button {
  width: 100px;
  height: 30px;
  text-align: center;
  border: 1px solid var(--gray-color);
}

.overview-button {
  border-radius: 30px 0px 0px 30px;
  background-color: var(--white-color);
}

.products-button {
  border-radius: 0px 30px 30px 0px;
  border: 1px solid var(--gray-color);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(8, minmax(50px, 1fr));
  grid-auto-flow: row dense;
  gap: 10px;
  width: 100%;
}

.card {
  background-color: var(--white-color);
  border-radius: 15px;
  border: 2px solid var(--gray-color-2);
  box-shadow: 0px 2px 5px 0px var(--box-shadow-color);
  grid-column: auto / span 2;
}

.small-card {
  height: 160px;
}

.big-card {
  height: 450px;
  grid-column: auto / span 4;
  grid-row: auto / span 2;
}

.chart-box-grid {
  display: none;
}

.chart-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.chart-box {
  width: 30%;
  height: 300px;
}

/* ================================================================ */

/* Side-bar-right */
.side-bar-right {
  display: grid;
  justify-content: center;
  padding: 25px;
  border-left: 2px solid var(--gray-color);
}

.side-bar-right-box {
  width: 250px;
  background-color: var(--white-color);
  border-radius: 15px;
  border: 2px solid var(--gray-color-2);
}

.side-bar-right-box-1 {
  height: 150px;
}

.side-bar-right-box-2 {
  height: 200px;
}

/* ================================================================ */

@media (max-width: 1200px) {
  .search {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
  }

  .menu-list-2,
  .side-bar-left,
  .side-bar-right {
    display: none;
  }
}

@media (max-width: 768px) {
  .search,
  .side-bar-top,
  .menu-list-1,
  .chart-list {
    display: none;
  }

  .menu-list-2-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    font-size: small;
  }

  .main-top {
    flex-flow: wrap;
    gap: 10px;
  }

  .card-list {
    grid-template-columns: repeat(4, minmax(50px, 1fr));
  }

  .big-card {
    grid-column: auto / span 4;
    grid-row: auto / auto;
  }

  .chart-box-grid {
    display: block;
    width: auto;
    grid-column: auto / span 2;
    grid-row: auto / auto;
  }
}

@media (max-width: 478px) {
  .top-indicator {
    order: 1;
  }

  .swip-button {
    order: 3;
    width: 100%;
    justify-content: center;
  }

  .button-add {
    order: 2;
  }
}

@media (max-width: 360px) {
  .menu-list-2-mobile {
    display: none;
  }

  .menu-list-2-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
  }

  .chart-box-grid {
    grid-column: auto / span 4;
  }
}
